
.jumbotron{
    background-color: #00325b;
}
.jumbotron h1{
   color: white;
    font-family: "College Block 2.0";
}
.gulllogo img{
    position: relative;
    top: -20px;
    margin-right: 160px;
    float: right;
}
p{
    color: white;
    font-family: HelveticaNeue-UltraLight;
}
.btn-info{
    background: darkgray;
    border: darkgray;
}
#myNavbar {
    font-family: HelveticaNeue-UltraLight;
    font-size: larger;
    color: white;
}
.well-sm{
    background: #00325b;
    width: 98%;
}
.well-sm .text-primary{
    color: white;
}
.container .row .well-sm{
    border-radius: 7px;
}
/* The dropdown container */
.dropdown {
    float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
    background-color: gainsboro;
    color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 285px;
    overflow: scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}